Parameters:
  privatekey: 
    Type: String
    Description: "The path to the private key in Amazon S3"
    Default: "https://us-east-1.amazonaws.com/us-east-1-input-bucket/privatekey.key"
  publiccert:
    Type: String
    Description: "The public certificate"
    Default: |
        MIIGhjCCBG6gAwIBAgIQRfkgjxFuTkGivIO4QzqVFjANBgkqhkiG9w0BAQwFADBL
        MQswCQYDVQQGEwJBVDEQMA4GA1UEChMHWmVyb1NTTDEqMCgGA1UEAxMhWmVyb1NT
        TCBSU0EgRG9tYWluIFNlY3VyZSBTaXRlIENBMB4XDTIyMTAzMTAwMDAwMFoXDTIz
        MDEyOTIzNTk1OVowHDEaMBgGA1UEAxMRc2xrZGVzaWduc2EuY28uemEwggEiMA0G
        CSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDCR2Rtog5YO+sNBgfkmSxwaUJvn1V2
        fedsazrHPmvMWA3XegI4DP8p/sA9Nc49EsEN+SFf0aKCzN4lCmcmUVlWJ/9+WghQ
        cb3sYUhE3qiVcxRxzlaTrfLsDW6Q0LZHnUF7gNDrS8Z/cNV70rr+y8YKwEoysadc
        GVRdOZpJ0oomVfwvLzy2lP9sSdZe8uA6+iMlrHsE6u9TpQmnt0XQ0dqX8v0xwaoL
        9E+jmrPy8YtvhasEE5x+T3MPJUH0DwtJwX4muSpa9iyU4WdYE8cMhl8PU0K8+DgK
        UlPeLo2RNUIZJJ8L2V7qLs7BejwdWyr0WQ+Gu1bUBK242LNPDyRM6HAJAgMBAAGj
        ggKTMIICjzAfBgNVHSMEGDAWgBTI2XhootkZaNU9ct5fCj7ctYaGpjAdBgNVHQ4E
        FgQUtLn5qzvhYUW8VyjNFD1yf7PHxtYwDgYDVR0PAQH/BAQDAgWgMAwGA1UdEwEB
        /wQCMAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMEkGA1UdIARCMEAw
        NAYLKwYBBAGyMQECAk4wJTAjBggrBgEFBQcCARYXaHR0cHM6Ly9zZWN0aWdvLmNv
        bS9DUFMwCAYGZ4EMAQIBMIGIBggrBgEFBQcBAQR8MHowSwYIKwYBBQUHMAKGP2h0
        dHA6Ly96ZXJvc3NsLmNydC5zZWN0aWdvLmNvbS9aZXJvU1NMUlNBRG9tYWluU2Vj
        dXJlU2l0ZUNBLmNydDArBggrBgEFBQcwAYYfaHR0cDovL3plcm9zc2wub2NzcC5z
        ZWN0aWdvLmNvbTCCAQMGCisGAQQB1nkCBAIEgfQEgfEA7wB1AK33vvp8/xDIi509
        nB4+GGq0Zyldz7EMJMqFhjTr3IKKAAABhC8Ej10AAAQDAEYwRAIgEaKfdXXGUQPu
        WKVbN199oSsf/xzcDOSn+Z7/u4p8BPUCIEhx30nxb3eposq0m4dmPhY4kgCfLHkt
        SKfO6rN1d6BAAHYAejKMVNi3LbYg6jjgUh7phBZwMhOFTTvSK8E6V6NS61IAAAGE
        LwSPKAAABAMARzBFAiB4moo+VRQZ2mHHCcRZqttS5OTw3cosGWGB8FQkiZmkwQIh
        AKkv0dn/pO0kNhoXtEanHysmkx8CHwlwSxlBkxpnr4W4MDMGA1UdEQQsMCqCEXNs
        a2Rlc2lnbnNhLmNvLnphghV3d3cuc2xrZGVzaWduc2EuY28uemEwDQYJKoZIhvcN
        AQEMBQADggIBAFP2+R9sHzp/Ui7oRMATqLND61N+5zlMSuat1xnuI6FqOrC31Ajc
        +yQXqeKslHBd5BlqC56obolF4zFkZ3j0ahs3Z9RM26oeGrSwQQe6uAkuR6mOgMTI
        AzW5zNZnyMMHjMfcDnn2NedpFHLmW7suhpLLx6iYo+5z92gZVy9tXoDsBTtVx/Jb
        tA8ccvxg87ESbYgUAZHSQoX5C6G6Azgjzo9NN1hfBcmxoMvtgyGgAL4HonKytgMW
        mTeXjqPZbrC45+wQJgsjnWa8t2NVtonam09LUIEPfEKU43WROzHwIWxueaA07DVT
        EJqjlNtNeUk18SGSq6TTs3IJSEINRXfWD75C+xlT/dHtBTHZGp4H+u6G0qNJVP0T
        3ae6+H4u6htGTH7R2p6LK/aEWvlBH6/Zm+b0ndNLG96luPwfFoGAJ0YJ30qBgsjc
        4KLV1QZK8Pq7bzO8tjzrAzPMcD8jjx8dSO86INS9zzoXAE6VLdgIZymL4TO9IAgn
        tbU06lL6P8seWyBG6EI7h4SD9KKQJiAIEAzGN1oGPM3OkBrwzt7Rle2RCLpIUHDB
        y1BPIb2VL0MBCZb6NSliseXrjTibcFb07/kRZdo0GUgzYgfMGMrIIJvHOLC+tmfg
        wO/Gn/7QZmgD9CkewDwpgtlIbXBL3tIpBSYwHGfAhCxEdL8IkahWBPbz

files:
  # nginx HTTPS configuration
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;
          
          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "upgrade";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
          }
      }

  # Public certificate
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: { "Ref": "publiccert"}

  # Private key
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: { "Ref" : "privatekey" }

Resources:
  # Use instance profile to authenticate to S3 bucket that contains the private key
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          roleName: 
            "Fn::GetOptionSetting": 
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"